<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | iSecure</title>
    <!-- TODO: replace with minified css  -->
    <link rel="stylesheet" href="/css/tailwind.min.css">
</head>

<body>
    <%- include('partials/_navbar') %>

        <div class="hero">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <img src="/images/hero.jpg" class="max-w-sm rounded-lg shadow-2xl" />
                <div>
                    <h1 class="text-5xl font-bold">Welcome to iSecure!</h1>
                    <p class="py-6">
                        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                        quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p>
                    <a href="/register" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
</body>

</html>